<!DOCTYPE html>
<head>
  <!-- Bootstrap CSS CDN -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" rel="stylesheet">

  <style src="mainstyle.css"></style>

  <title>Socialist Test Bank</title>
</head>
<body>
  <!-- APP CONTENT -->
  <div class="container my-4">
      <div class="btn-toolbar float-right my-2">
        <a href="upload.html" class="btn btn-outline-success" role="button">
          <span class="octicon octicon-cloud-upload mr-sm-2"></span>Upload
        </a>
      <!--   <button class="btn btn-outline-success my-2"> Upload
          <span class="glyphicon glyphicon-user"></span>
        </button>-->
      </div>
      <h1 class="text-center">Test Bank</h1>

      <hr/>
  </div>
<!--
  <div class="container">
    <form class="form-inline justify-content-center my-2 my-lg-0">
      <div class="text-center">
        <input class="form-control mr-sm-2" type="search" placeholder="Enter a class" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
    </form>
-->
<div class="container">
<div class="form-inline justify-content-center">
 <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Enter a class" aria-label="Search">
        <button id="search" class="btn btn-outline-success my-2 my-sm-0">Search</button>
  </div>
    <nav class="nav justify-content-center">
      <a class="nav-link" href="#">Classes</a>
      <a class="nav-link" href="#">Professors</a>
      <a class="nav-link disabled" href="#">Etc.</a>
    </nav>
  </div>
  

<div id="searchQuery" class="container text-center">
  
  <div id="aaaaa" class="collapse">
    <p> 1 </p>
  </div>
  <div id="bbba" class="collapse">
    <p> 2 </p>
  </div>
  <div id="ccccc" class="collapse">
    <p> 3 </p>
  </div>
  <div id="ddddd" class="collapse">
    <p> 4 </p>
  </div>
  <div id="eeeee" class="collapse">
    <p> 5 </p>
  </div>
</div>




  <!-- jQuery CDN -->
 <script src="http://code.jquery.com/jquery-1.11.3.min.js">  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <!-- jQuery local fallback -->
  <script>window.jQuery || document.write('<script src="/local/jquery.min.js"><\/script>')</script>
  <!-- Bootstrap JS CDN -->
 


  <script type="text/javascript" src="js/search.js"></script>

</body>